<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.similarwx">

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.android.similarwx.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， -->
    <uses-permission android:name="com.android.similarwx.permission.RECEIVE_MSG" />

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.netease.nim.uikit.support.glide.NIMGlideModule"
            android:value="GlideModule" />

        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.MIActivity" />
        <activity
            android:name=".activity.MainChartrActivity"
            android:launchMode="singleTask" />
        <activity android:name=".base.NormalActivity"></activity>
        <activity android:name=".activity.SysNoticeActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 网易云信的activity -->
        <activity android:name=".misdk.activity.CropImageActivity" />
        <activity android:name=".misdk.activity.PickerAlbumActivity" />
        <activity android:name=".misdk.activity.PickerAlbumPreviewActivity" />
        <activity android:name=".misdk.activity.PickImageActivity" />
        <activity android:name=".misdk.activity.PreviewImageFromCameraActivity" />
        <activity android:name=".misdk.activity.PreviewImageFromLocalActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <!--
   APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
   如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="5d0ef04ce6ab1fb459a051d381d734d0" />
        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.android.similarwx.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <!-- 会话窗口 -->
        <!--
             UI组件中包含了语音选文字功能，该界面是全屏显示，为了视觉上的美观，该界面主题ActionBar使用Overlay模式。
             如果开发者不需要该功能或效果，使用普通主题即可。 同时，还需要将message_activity.xml这个layout中的根节点的paddingTop去掉。
        -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.P2PMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.TeamMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 群聊 -->
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.NormalTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamMemberInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamNicknameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamCreateAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.TeamPropertySettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 联系人选择器 -->
        <activity
            android:name="com.netease.nim.uikit.business.contact.selector.activity.ContactSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/contact_selector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- @ 选择器 -->
        <activity
            android:name="com.netease.nim.uikit.business.ait.selector.AitContactSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 照片选择 -->
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 视频 -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.CaptureVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_play"
            android:theme="@style/DarkTheme" />

        <!-- 查看大图 -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/DarkTheme" />
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.WatchPicAndVideoMenuActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/DarkTheme" />

        <provider
            android:name="com.netease.nim.uikit.common.media.picker.model.GenericFileProvider"
            android:authorities="${applicationId}.generic.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

       <!-- 微信-->
        <activity android:name=".wechat.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>